{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	<div>

		<h1 class="text-center mt-5 mb-5">Un Blog d'informations, où le partage est essentiel !</h1>

		<h2 class="text-center text-secondary mb-5">Lorem</h2>

		<img class="img-fluid" src="/assets/images/light.jpg" alt="image de code">

		
		{% if admin == 1 %}
			<h4>
				<a href="admin/post/add" role="button" class="btn btn-lg btn-primary">Ajouter un article</a>
			</h4>
		{% endif %}

		<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
			{% for post in posts %}
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							{% if user %}
							<h5 class="card-title">{{ post.title }}</h5>
							<a href="/post/{{ post.slug }}" role="button" class="btn btn-outline-danger my-4">Lire l'article</a>
							{% else %}
							<h5 class="card-title">{{ post.title }}</h5>
							<button type="button" class="btn btn-outline-danger my-4" data-bs-toggle="popover" data-bs-content="Se connecter">Lire l'article</button>
							{% endif %}
							<p class="card-text d-flex justify-content-end">
								<small class="text-muted">
									<em>Publié le
										{{ post.updatedAt }}</em>
								</small>
							</p>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
