{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Validation
{% endblock %}

{% block body %}
	<div>
		<h2 class="text-center text-secondary mb-5">Validation du commentaire</h2>

		<h5 class="text-center text-secondary mb-5">
			<a href="/">Accueil</a>
		</h5>

		<div class="text-center">
			{{ form_start(commentForm, {'attr': {'class': 'col-lg-8 col-md-10 mx-auto mb-5'}}) }}
		<div class="mb-3">
			{{ form_label(commentForm.content, 'commentaire') }}
			{{ form_widget(commentForm.content, {'attr': {'class': 'form-control'}}) }}
		</div>
        <div class="mb-3">
			{{ form_widget(commentForm.isValid) }}
			<span>Valider</span>
		</div>
		<div class="mb-3">
			<input type="submit" name="" class="btn btn-primary" value="Commenter">
		</div>
		{{ form_end(commentForm) }}
		</div>
	</div>
{% endblock %}
