<div class="mt-5">
	<div>
		{{ form_start(commentForm, {'attr': {'class': 'col-lg-8 col-md-10 mx-auto mb-5'}}) }}
		<div class="mb-3">
			{{ form_label(commentForm.content, 'commentaire') }}
			{{ form_widget(commentForm.content, {'attr': {'class': 'form-control'}}) }}
		</div>
        <div class="mb-3">
			{{ form_widget(commentForm.isValid) }}
			<span>Publier l'article</span>
		</div>
		<div class="mb-3">
			<input type="submit" name="" class="btn btn-primary" value="Commenter">
		</div>
		{{ form_end(commentForm) }}
	</div>
</div>
