{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-5">Liste des utilisateurs</h1>

    <div class="row">
        <div class="col">
            <h5>Utilisateur(s)
                <span>({{ users|length }})</span>
            </h5>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Roles</th>
                    <th>Email</th>
                    <th>Inscrit le</th>
                    <th>Actions</th>
                </tr>
                {% set i = 1 %}
                {% for user in users %}
                    <tr class="hoverable">
                        <td>{{ i }}</td>
                        <td><a href="/account/{{ user.id }}" target="_blank">{{ user.lastname }}</a></td>
                        <td>{{ user.firstname }}</td>
                        {% if user.is_admin == 1 %}
                            <td>
                                <span class="badge bg-info">admin</span>
                            </td>
                            {% else %}
                            <td>
                                <span class="badge bg-secondary"> no admin</span>
                            </td>
                        {% endif %}
                        <td>{{ user.email }}</td>
                        <td>{{ user.updated_at|date('d/m/Y') }}</td>
                        <td>
                            <a class="btn btn-success" href=""><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger"  href=""><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% set i = i+1 %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}