{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Contact
{% endblock %}

{% block body %}
	<div>

		<h1 class="text-center mt-5 mb-5">Contactez-moi !</h1>

		<div class="text-center">
			{{ form_start(form, {'attr': {'class': 'col-lg-6 col-md-10 mx-auto mb-5'}}) }}
			<div class="mb-3">
				{{ form_label(form.firstname, 'Prénom') }}
				{% if userInfo %}
				{{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'value': userInfo.firstname }}) }}
				{% else %}
				{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
				{% endif %}
			</div>
			<div class="mb-3">
			{{ form_label(form.lastname, 'Nom') }}
				{% if userInfo %}
				{{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'value': userInfo.lastname }}) }}
				{% else %}
				{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
				{% endif %}
			</div>
			<div class="mb-3">
				{{ form_label(form.email, 'Email') }}
				{% if userInfo %}
				{{ form_widget(form.email, {'attr': {'class': 'form-control', 'value': userInfo.email }}) }}
				{% else %}
				{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
				{% endif %}
			</div>
			<div class="mb-3">
				{{ form_label(form.label, 'Objet') }}
				{{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				{{ form_label(form.message, 'Message') }}
				{{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				<input type="submit" name="" class="btn btn-primary" value="Envoyer">
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
