{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Ajouter un article
{% endblock %}

{% block body %}
	<div>
		<div class="row">
            <a href="/admin" class="col-1 d-flex align-items-center">Retour</a>
            <h2 class="col text-center text-secondary my-5">Ajouter un article</h2>
        </div>
		
		<div class="text-center">
			{{ form_start(form, {'attr': {'class': 'col-lg-6 col-md-10 mx-auto mb-5'}}) }}
			<div class="mb-3">
				{{ form_label(form.title, 'Title') }}
				{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				{{ form_label(form.slug, 'Slug') }}
				{{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				{{ form_widget(form.image) }}
			</div>
			<div class="mb-3">
				{{ form_label(form.content, 'Contenu') }}
				{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
                {{ form_widget(form.isPublished) }}
            <span>Publier l'article</span>
            </div>
			<div class="mb-3">
				<input type="submit" name="" class="btn btn-primary" value="Publier">
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
