{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	<div>

		<h1 class="text-center mt-5 mb-5">{{ post.title }}</h1>

		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="card border-0">
					<div class="d-flex justify-content-end">
						<span class="text-muted">
							<em>Publié le
								{{ post.updatedAt|date('d/m/Y') }}</em>
						</span>
					</div>

					<hr>

					<div class="card-body">
						{% if post.image %}
							<img class="card-img-top h-100" src="/upload/{{post.image}}" alt="{{ post.image }}">
						{% else %}
							<img class="card-img-top h-100" src="/assets/images/code.jpg" alt="image de code">
						{% endif %}
						<p class="card-text mt-4">{{ post.content }}</p>
					</div>

					<hr>
				</div>

				<div class="border-bottom my-4 pb-4">
					<div class="row">
						<div class="col-3">
							<img class="img-fluid shadow-1-strong rounded" src="/assets/images/lettre_A.png" alt="admin image"/>
						</div>

						<div class="col-9">
							<p class="mb-2">
								<strong>Admin</strong>
							</p>
							<a href="#" class="text-dark">
								<i class="fab fa-facebook-f me-1"></i>
							</a>
							<a href="#" class="text-dark">
								<i class="fab fa-twitter me-1"></i>
							</a>
							<a href="#" class="text-dark">
								<i class="fab fa-linkedin me-1"></i>
							</a>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
																								inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
																								Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="row">
			{% include "comment/comment_show.html.twig" %}
		</section>

		<section>
			<div class="col-lg-8 col-md-10 mx-auto">
			    <a class="btn btn-primary" role="button" href="/post/{{post.slug}}/addComment">Ajouter un commentaire</a>
			</div>
		</section>
	</div>
{% endblock %}
