{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Mon compte
{% endblock %}

{% block body %}
	<div>
		{% if admin %}
		    Compte de {{ account.firstname }}
	    
		{% endif %}

        <div class="row">
        <div class="col-lg-5 col-md-10 mx-auto">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="/assets/images/avatar-user1.png" alt"user-account-image">
                <div class="card-content">
                    <h3 class="card-title">{{ account.firstname }} {{ account.lastname }}</h3><br>
                    <p class="fw-semibold">Email : {{ account.email }}</p><br>
                    <p class="fw-semibold">Date d'inscription : {{ account.created_at|date('d/m/Y') }}</p><br>
                    <div class="card-action">
                        <a class="btn btn-success" href="/upadate/{{ account.id }}">Modifier</a>
                        <a class="btn btn-danger" href="/delete/{{ account.id }}}">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
	</div>
{% endblock %}